<h1>Crypto Wallet</h1>
<p> O idioma usado nessa aplicação é <strong><%= idioma %></strong></p>
<p> 
    <strong> Data: </strong> 
    <%= l(Date.today)%>  
</p>

<%= render "menu"%>

<p>
Seu nome é <strong> <%= @meu_nome %>. </strong> 
</p>

<p>
Seu curso é <strong> <%= @meu_curso %>. </strong> 
</p>

<p>
Você está em ambiente de <strong> <%= Rails.env %> </strong>
<p>
